<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="razorpay" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Razorpay]]></label>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/razorpay/active</config_path>
                </field>

                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <config_path>payment/razorpay/title</config_path>
                </field>

                <field id="merchant_name_override" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant Name</label>
                    <config_path>payment/razorpay/merchant_name_override</config_path>
                </field>
                
                <field id="payment_action" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Action</label>
                    <source_model>Razorpay\Magento\Model\PaymentAction</source_model>
                    <config_path>payment/razorpay/payment_action</config_path>
                </field>


                <field id="key_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <comment>**Required (Enter test key ID for testing)**</comment>
                    <config_path>payment/razorpay/key_id</config_path>
                </field>

                <field id="key_secret" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key Secret</label>
                    <comment>**Required (Enter test key secret for testing)**</comment>
                    <config_path>payment/razorpay/key_secret</config_path>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Applicable Countries</label>
                    <source_model>Elightwalk\Razorpay\Model\Config\Source\Allspecificcountries</source_model>
                    <config_path>payment/razorpay/allowspecific</config_path>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Select Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>payment/razorpay/specificcountry</config_path>
                </field>

                <field id="card_active" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Card</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/razorpay/card_active</config_path>
                </field>

                <field id="card_type" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Card Type</label>
                    <source_model>Elightwalk\Razorpay\Model\Config\Source\OptionArray::cardtypeOptionArray</source_model>
                    <config_path>payment/razorpay/card_type</config_path>
                    <depends>
                        <field id="card_active">1</field>
                    </depends>
                </field>

                <field id="allowspecificnetwork" translate="label" type="allowspecific" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Card Network</label>
                    <source_model>Elightwalk\Razorpay\Model\Config\Source\OptionArray::cardOptionArray</source_model>
                    <config_path>payment/razorpay/allowspecificnetwork</config_path>
                    <depends>
                        <field id="card_active">1</field>
                    </depends>
                </field>

                <field id="card_network" translate="label" type="multiselect" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Select Card Network</label>
                    <source_model>Elightwalk\Razorpay\Model\Config\Source\AllSpecificArray::cardnetworkOptArray</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>payment/razorpay/card_network</config_path>
                    <depends>
                        <field id="card_active">1</field>
                    </depends>
                </field>

                <field id="allowspecificcard" translate="label" type="select" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Suppoted Cards</label>
                    <source_model>Elightwalk\Razorpay\Model\Config\Source\OptionArray::suppotedcardOptArr</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>payment/razorpay/allowspecificcard</config_path>
                    <depends>
                        <field id="card_active">1</field>
                    </depends>
                </field>

                <field id="specificcard" translate="label" type="multiselect" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Select Suppoted Cards</label>
                    <source_model>Elightwalk\Razorpay\Model\Config\Source\AllSpecificArray::suppotedcardOptArray</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>payment/razorpay/specificcard</config_path>
                    <depends>
                        <field id="card_active">1</field>
                    </depends>
                </field>
                    
                <field id="netbanking_active" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Netbanking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/razorpay/netbanking_active</config_path>
                </field>

                <field id="allow_netbanking" translate="label" type="select" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Netbanking Banks</label>
                    <source_model>Elightwalk\Razorpay\Model\Config\Source\OptionArray::netbankingOptArr</source_model>
                    <config_path>payment/razorpay/allow_netbanking</config_path>
                    <depends>
                        <field id="netbanking_active">1</field>
                    </depends>
                </field>

                <field id="specific_netbanks" translate="label" type="multiselect" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Select Specific Banks</label>
                    <source_model>Elightwalk\Razorpay\Model\Config\Source\AllSpecificArray::netbankingbankOptArr</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>payment/razorpay/specific_netbanks</config_path>
                    <depends>
                        <field id="netbanking_active">1</field>
                    </depends>
                </field>

                <field id="wallet_active" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Wallet</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/razorpay/wallet_active</config_path>
                </field>

                <field id="allow_wallet" translate="label" type="select" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Wallet Apps</label>
                    <source_model>Elightwalk\Razorpay\Model\Config\Source\OptionArray::walletOptArr</source_model>
                    <config_path>payment/razorpay/allow_wallet</config_path>
                    <depends>
                        <field id="wallet_active">1</field>
                    </depends>
                </field>

                <field id="specific_wallet" translate="label" type="multiselect" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Select wallet Apps</label>
                    <source_model>Elightwalk\Razorpay\Model\Config\Source\AllSpecificArray::walletappsOptArr</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>payment/razorpay/specific_netbanks</config_path>
                    <depends>
                        <field id="wallet_active">1</field>
                    </depends>
                </field>

                <field id="upi_active" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>UPI</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/razorpay/upi_active</config_path>
                </field>

                <field id="allow_upi" translate="label" type="select" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>UPI Apps</label>
                    <source_model>Elightwalk\Razorpay\Model\Config\Source\OptionArray::upiOptArr</source_model>
                    <config_path>payment/razorpay/allow_upi</config_path>
                    <depends>
                        <field id="upi_active">1</field>
                    </depends>
                </field>
                

                <field id="specific_upi" translate="label" type="multiselect" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Select UPI Apps</label>
                    <source_model>Elightwalk\Razorpay\Model\Config\Source\AllSpecificArray::upiappsOptArr</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>payment/razorpay/specific_upi</config_path>
                    <depends>
                        <field id="upi_active">1</field>
                    </depends>
                </field>

                
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <config_path>payment/razorpay/sort_order</config_path>
                </field>


            </group>
        </section>
    </system>
</config>